body {
    text-align: center;
    font-family: sans-serif;
    font-size: 100%;
}

#quiz-list div {
    border: solid #bbb;
    border-width: 1px 0;
    padding: 10px 2rem;
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
    cursor: pointer;
    background-color: #fafafa;
    text-align: left;
}

#quiz-list div:hover {
    background-color: #f4f4f4;
}

#quiz-list div:active {
    background-color: #f0f0f0;
}