body {
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
}

button {
    border: 1px solid #555;
    border-radius: 10px;
    font-size: 16px;
    color: #000;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    transition: 0.2s;
}

button:hover:not(:disabled) {
    box-shadow: 0 0 2px #333;
}

.correct {
    opacity: 1;
    border: 2px solid #4caf50;
    border-radius: 5px;
    background-color: lightgreen;
    color: #174719;
    transform: scale(1.05);
}

.wrong {
    opacity: 1;
    border: 2px solid #f11;
    border-radius: 5px;
    background-color: salmon;
    color: #510d0d
}

.explanation {
    justify-content: center;
    text-align: left;
    display: none;
    white-space: pre-wrap;
    max-width: 450px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    background-color: antiquewhite;
    border-left: 5px solid #fcc67f;
}

.explanation.show {
    display: block;
}

#next-btn {
    margin: auto;
    transition: 0.3s;
}

.result-box {
    text-align: center;
    margin: 50px 20px;
    padding: 30px;
    max-width: 95%;
    border-radius: 15px;
    background-color: #f5f5f5;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.result-box h2 {
    margin-bottom: 20px;
}

.result-box button {
    padding: 10px 20px;
    font-size: 16px;
}

.score {
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0;
}

.message {
    margin-bottom: 20px;
    font-size: 18px;
}