body {
    text-align: center;
}

button {
    font-size: 15px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    transition: 0.1s;
}

.correct {
    opacity: 1;
    border: 2px solid #4caf50;
    background-color: lightgreen;
    color: #276d29;
    transform: scale(1.05);
}

.wrong {
    opacity: 1;
    border: 2px solid #f11;
    background-color: salmon;
    color: #9c1414
}