body {
    text-align: center;
}

button {
    font-size: 15px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.correct {
    outline: 2px solid #4caf50;
}

.wrong {
    outline: 2px solid #f11
}